body {
    margin: 0;
}

.image1 {
    background-image: url("https://images.dmc.tv/wallpaper/raw/12037.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.image2 {
    background-image: url("https://images.dmc.tv/wallpaper/raw/13748.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.text {
    text-align: center;
    color: white;
    font-size: 30px;
}

.image1 .text,
.image2 .text,
.black .text {
    padding-top: 45vh;
}

.black {
    height: 300px;
    background-color: black;
}

